.searchForms{
    padding: 5px;
    margin: 5px;
    width: 400px;
    background-color: RGB(237 242 247);
    margin-inline: auto;
    font-size: 14px;
   

    input{
       
        border: none;
        border-radius: 20px;
        width: 90%;
        background-color: inherit;
        outline: none;

       
    }
}