@import '../../styles/breakpoints.module';

.myLayout{
    display: grid;
    grid-template-columns: 1fr;

    .maincom{

           
            display: block;
            height: 4vh;
            margin-top: 7vh;

            
            margin-inline: auto;
           
        
            @include breakpoint(small){
                max-width: 900px;
                margin-top: 8vh;
            }
    }
}
